<h1 class="title">

  <span class="title_left">
    <%= link_to "申请",new_entretain_path %>
  </span>
   <span class="title_left marginleft20">
    <%= link_to "已提交",entretains_path(q: "submit") %>
  </span>
   <span class="title_left marginleft20">
    <%= link_to "审批",entretains_path(q: "report") %>
  </span>

</h1>
